#contentWrapper {
    background-color: #F1F2ED;
    margin-top:3%;
}


@media (max-width: 878px) {
    /*Phone*/
    /* Content */
    .column-4 {
        padding: 0.5em 2%;
    }

    .column-12 {
       /* padding: 0.5em 2%;*/
        
    }

    
   
    
}

@media (min-width: 879px) {
   /*Tablet or Desktop*/
    /* Content */
    .column-4 {
        width: 37%;
        float: left;
    }
}

